<!-- TODO: Alterar tipo de alerta -->
<div class="alert alert-info alert-dismissible fade show fixed d-none" role="alert" id="alert" style="z-index: 2;">
    <span class="ms-4 mb-0 d-flex" id="message"></span>
    <button id="fechar" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>

<!-- <div class="alert alert-success alert-dismissible fade show fixed" role="alert">
    <i class="bi bi-check-circle-fill"></i>
     <span id="message">Operação realizada com <strong>Sucesso!</strong></span>
    <button id="fechar" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
  </div> -->

