// #alert {
//     position: fixed;
//     top: 3em;
//     left: auto;
//     bottom: auto;
//     right: 3em;
//     z-index: 100;
// }

.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
   }




.bi.bi-check-circle-fill {
    font-size: 30px;
    
}

