<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6">
                <div class="fs-5 my-2">
                    <span class="mt-1 text-success">Nome Completo:</span>
                    <p class="mt-2 text-uppercase">{{administrator.fullName}}</p>
                </div>
                <div class="fs-5 my-2">
                    <span class="mt-1 text-success">E-mail:</span>
                    <p class="mt-2 text-uppercase">{{administrator.email}}</p>
                </div>
                <div class="fs-5 my-2">
                    <span class="mt-1 text-success">Ativo:</span>
                    <p class="mt-2 text-uppercase">{{administrator.active ? "Ativo" : "Inativo"}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-success">Termo de consentimento</h1>
                <div>
                    <h4><input class="form-check-input text-success" type="checkbox" value="1"
                            (change)="checkValue($event)"> Desativar Instituição</h4>
                    <p>Estou ciente que esse administrador será desativada.</p>
                </div>
                <div class="d-flex">
                    <button (click)="submit()" [disabled]="isChecked == false" class="btn btn-danger flex-shrink-0 me-2"
                        type="button">
                        <i class="bi bi-building-check"></i>
                        Desativar Administrador
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>