<!-- LISTAR: SOMENTE ADMINISTRADOR -->
<!-- CADASTRAR: SOMENTE DOADOR -->
<!-- VISUALIZAR: SOMENTE ADMINISTRADOR -->
<!-- ATUALIZAR: NINGUÉM -->
<!-- DESATIVAR: SOMENTE ADMINISTRADOR -->
<!-- ACEITAR: SOMENTE ADMINISTRADOR -->
<div class="container my-3">
  <!--<ng-container *ngIf="getUsuario().role == 'ROLE_DONOR'">
    <div class="row my-4">
      <div class="col-md-12">
        <h4 class="text-success mb-4">Funções Administrativas</h4>
        <a href="/denuncias/cadastrar/0" class="btn btn-primary flex-shrink-0 me-2" type="button">
          <i class="bi bi-tools"></i>
          Cadastrar denúncias
        </a>
      </div>
    </div>
    <hr>
  </ng-container>-->
  <div class="row gx-5 my-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
      <div class="text-center">
        <h2 class="fw-bolder text-success">Todos as Denúncias</h2>
        <p class="lead fw-normal text-muted">Veja lista de todas as denúncias</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <ng-container *ngIf="denounces.length > 0; else elseTemplateEmpty">
          <div class="col-lg-4 mb-5" *ngFor="let denounce of denounces; index as i;">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="{{apiUrl}}/image/denounce.jpg" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-success fw-bold stretched-link" href="/denuncias/visualizar/{{denounce.id}}"><h5 class="card-title my-2">{{denounce.title}}</h5></a>
                <p class="card-text">{{denounce.message}}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplateEmpty>
          <p>Nenhuma resultado encontrado</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
