#thunder-tests/
.vscode/*
!.vscode/tasks.json
back-end/src/main/resources/
!back-end/src/main/resources/upload
!back-end/src/main/resources/upload/*
!back-end/src/main/resources/json
!back-end/src/main/resources/json/*

# Permite a pasta e arquivos específicos
!back-end/src/main/resources/
!back-end/src/main/resources/application.properties
!back-end/src/main/resources/application-dev.properties
!back-end/src/main/resources/application-prod.properties

