<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-success">Campanhas</h1>
      <iframe width="900" height="675" src="https://lookerstudio.google.com/embed/reporting/0929ef79-d21e-4cc6-a6ce-a14f64333d77/page/iGxFD" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-12">
      <h1 class="text-success">instituições</h1>
      <iframe width="800" height="600" src="https://lookerstudio.google.com/embed/reporting/c7a88ca6-d03b-454b-b0ab-90175feb3782/page/stUGD" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
