<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-align-center">Quer <span class="text-success">entrar em contato?</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <br>
            <h3 class="font-weight-bold">Não Seja Tímido</h3>
            <br>
            <p>Fique a vontade para entrar em contato com a gente. Estamos sempre abertos para tirarmos suas dúvidas.</p>
            <i class="bi bi-envelope-at-fill text-success display-6"></i>
            <p class="card-text">Entre em contato pelo e-mail: <a href="mailto:doacao@doacao.com.br">doacao@doacao.com.br</a></p>
            <i class="bi bi-telephone-outbound-fill text-success display-6"></i>
            <p class="card-text">Entre em contato pelo telefone: <a href="tel:+55068999999999">+55(68)9999-9999</a></p>
        </div>
        <div class="col-6 my-6">
            <img src="assets/images/contato.jpg" alt="" class="img-fluid">
        </div>
    </div>