<div class="container my-3">
    <div class="row">

        <div class="col-md-6">
            <h1>POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS</h1>

            <p>
                Olá! Que bom contar com seu interesse! Antes de usar nossos serviços, tire um tempo para ler nossos Termos e
                Condições de Uso e conhecer as regras que regem nossa relação com você.
            </p>
            <p>
                Abaixo esclareceremos alguns pontos que julgamos importantes. Caso persista alguma dúvida acerca de
                quaisquer pontos discutidos ou não neste documento, ou ainda, caso queira dar sugestões ou relatar
                problemas, por favor, não hesite em contatar-nos pelo formulário eletrônico disponível no "Fale Conosco".
            </p>
            <p>
                Estes Termos e Condições de Uso ("Termos") são celebrados entre você, pessoa física ou jurídica
                ("Participante"), e regula os termos e condições aplicáveis aos serviços oferecidos através de sua
                plataforma, conforme abaixo descrito
            <p>
                Estes Termos contêm as regras gerais e específicas aplicáveis ao Participante, bem como as explicações sobre
                as operações que o Participante pode realizar no âmbito da Plataforma . Mediante o aceite destes Termos, o
                Participante concorda com todas as regras e procedimentos aqui descritos.
            </p>

            <p>
                Caso você NÃO CONCORDE com os termos previstos neste instrumento ou na Política de Privacidade, NÃO CLIQUE
                EM "CADASTRE-SE" nem acesse, visualize, baixe ou utilize de qualquer forma nenhuma página, conteúdo,
                informação ou serviço.
            </p>
            <p>
                A plataforma poderá alterar este instrumento a qualquer momento, bastando, para tanto, publicarmos uma
                versão revisada em nosso site. Por este motivo, recomendamos que sempre visite esta seção de nosso Site,
                lendo-a, periodicamente. Mas, para contribuir com o bom relacionamento, também enviaremos um e-mail
                informando acerca dessas mudanças.
            </p>
        </div>
        <div class="col-md-6 mt-6">
            <img class="img-fluid w-150 d-none d-sm-block" src="assets/images/privacy.jpg" alt="" />
        </div>
    </div>
</div>