<div class="container my-3">
    <div class="row">
        <h1 class="text-center my-5">CONHEÇA NOSSO PROJETO</h1>
        <div class="col-md-12">
            <div class="mt-5">
                <h2 class="text-center my-5 display-6">
                    A plataforma é um site de doações para todo Brasil. Mas você sabe como essa história começou?
                </h2>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2 class="text-center my-5">
                Desenvolvimento Do Projeto
            </h2>

            <p class="lead">
                O projeto DoAção existe pela parceria entre a Universidade Federal do Acre e a Motorola através do
                projeto de capacitação de desenvolvimento Full-Stack Web Academy. Nosso time busca aumentar as doações
                recebidas pelas instituições através da publicação das suas campanhas em um espaço reservado, seguro e
                de fácil acesso. Os doadores conseguirão acompanhar as instituições e os resultados das campanhas.
            <p class="lead">
                Nosso objetivo é contribuir com a sociedade, intermediando doações para aqueles que necessitam de ajuda.
            </p>


        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-6 mt-5">
                <h2>
                    Missão
                </h2>

                <h4 class="display-6">
                    Contribuir para que as pessoas em situação de exclusão, possam receber ajuda através de um novo
                    projeto.
                </h4>
            </div>
            <div class="col-md-6">
                <img class="img-fluid " src="assets/images/mission.jpg" alt="" />
            </div>
        </div>
        <div class="row d-flex d-flex align-items-center">
            <div class="col-md-6">
                <h2>
                    Visão
                </h2>

                <h4 class="display-6">
                    Ser a plataforma que intermedia doações por todo Brasil, alcançando todos!
                </h4>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/vision.jpg" alt="" />
            </div>

        </div>
        <div class="row d-flex d-flex align-items-center mt-5">
            <div class="col-md-6">
                <h2>
                    Valores
                </h2>

                <h5>
                        AMOR ao próximo e a vida
                </h5>
                <h5>
                        RESPEITO aos direitos humanos
                </h5>
                <h5>
                        INTEGRIDADE no serviço prestado
                </h5>
                <h5>
                        TRANSPARÊNCIA nas atividades
                </h5>
                <h5>
                        FÉ na transformação e resgate de vidas
                </h5>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/values.jpg" alt="" />
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-12">
                <div class="mt-5">
                    <h1 class="display-3">
                        Desenvolvedores
                    </h1>
                    <p class="lead display-6">Elias</p>
                    <p class="lead display-6">Ezequiel</p>
                    <p class="lead display-6">Hedelvan</p>
                    <p class="lead display-6">João Vitor</p>
                    <p class="lead display-6">Welligton lins</p>

                </div>
            </div>

        </div>
    </div>