<div class="container my-3">
    <div class="row my-4">
        <div class="col-md-12">
            <h4 class="text-success mb-4">Funções Administrativas</h4>
            <a href="/administradores/atualizar/{{administrator.id}}" class="btn btn-primary flex-shrink-0 me-2"
                type="button">
                <i class="bi bi-tools"></i>
                Atualizar
            </a>
            <a href="/administradores/desativar/{{administrator.id}}" class="btn btn-danger flex-shrink-0 me-2"
                type="button">
                <i class="bi bi-tools"></i>
                Desativar
            </a>
        </div>
    </div>
    <hr>
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-12">
            <div class="fs-5 my-2">
                <span class="mt-1 text-success">Nome Completo:</span>
                <p class="mt-2 text-uppercase">{{administrator.fullName}}</p>
            </div>
            <div class="fs-5 my-2">
                <span class="mt-1 text-success">E-mail:</span>
                <p class="mt-2 text-uppercase">{{administrator.email}}</p>
            </div>
            <div class="fs-5 my-2">
                <span class="mt-1 text-success">Ativo:</span>
                <p class="mt-2 text-uppercase">{{administrator.active ? "Ativo" : "Inativo"}}</p>
            </div>
        </div>
    </div>
</div>