<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="form">
                <form (ngSubmit)="submit()">
                    <h1 class="text-success">Atualizar Cadastro de Instituição</h1>
                    <hr>
                    <p class="text-success">Informações Gerais</p>
                    <hr>
                    <div class="form-group mb-3">
                      <label for="file">Imagem Principal</label>
                      <input (change)="onFileChange($event)" type="file" class="form-control" accept="image/jpeg" id="fileUpload">
                    </div>
                    <div class="form-group mb-3">
                      <label for="corporate_name">Razão Social</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['corporate_name'].invalid && (controlForm.controls['corporate_name'].dirty || controlForm.controls['corporate_name'].touched), 'is-valid': controlForm.controls['corporate_name'].valid}"
                        id="corporate_name" type="text" name="corporate_name" placeholder="Digite a razão social"
                        [(ngModel)]="institution.corporate_name" [formControl]="controlForm.controls['corporate_name']">
                      <div
                        *ngIf="controlForm.controls['corporate_name'].invalid && (controlForm.controls['corporate_name'].dirty || controlForm.controls['corporate_name'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['corporate_name'].invalid}">
                        <span *ngIf="controlForm.controls['corporate_name'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['corporate_name'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['corporate_name'].errors?.['pattern']">Digite somente letras de A a
                          Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="fantasy_name">Nome Fantasia</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['fantasy_name'].invalid && (controlForm.controls['fantasy_name'].dirty || controlForm.controls['fantasy_name'].touched), 'is-valid': controlForm.controls['fantasy_name'].valid}"
                        id="fantasy_name" type="text" name="fantasy_name" placeholder="Digite o nome fantasia"
                        [(ngModel)]="institution.fantasy_name" [formControl]="controlForm.controls['fantasy_name']">
                      <div
                        *ngIf="controlForm.controls['fantasy_name'].invalid && (controlForm.controls['fantasy_name'].dirty || controlForm.controls['fantasy_name'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['fantasy_name'].invalid}">
                        <span *ngIf="controlForm.controls['fantasy_name'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['fantasy_name'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['fantasy_name'].errors?.['pattern']">Digite somente letras de A a
                          Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="cnpj">CNPJ</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['cnpj'].invalid && (controlForm.controls['cnpj'].dirty || controlForm.controls['cnpj'].touched), 'is-valid': controlForm.controls['cnpj'].valid}"
                        id="cnpj" type="text" name="cnpj" placeholder="Digite o cnpj" [(ngModel)]="institution.cnpj"
                        [formControl]="controlForm.controls['cnpj']">
                      <div
                        *ngIf="controlForm.controls['cnpj'].invalid && (controlForm.controls['cnpj'].dirty || controlForm.controls['cnpj'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['cnpj'].invalid}">
                        <span *ngIf="controlForm.controls['cnpj'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['cnpj'].errors?.['maxlength']">Digite no máximo 14 números</span>
                        <span *ngIf="controlForm.controls['cnpj'].errors?.['minlength']">Digite no mínimo 14 números</span>
                        <span *ngIf="controlForm.controls['cnpj'].errors?.['pattern']">Digite somente números</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="resume">Resumo sobre a Instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['resume'].invalid && (controlForm.controls['resume'].dirty || controlForm.controls['resume'].touched), 'is-valid': controlForm.controls['resume'].valid}"
                        id="resume" type="text" name="resume" placeholder="Digite o resume" [(ngModel)]="institution.resume"
                        [formControl]="controlForm.controls['resume']" rows="3"></textarea>
                      <div
                        *ngIf="controlForm.controls['resume'].invalid && (controlForm.controls['resume'].dirty || controlForm.controls['resume'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['resume'].invalid}">
                        <span *ngIf="controlForm.controls['resume'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['resume'].errors?.['maxlength']">Digite no máximo 255 caracteres</span>
                        <span *ngIf="controlForm.controls['resume'].errors?.['pattern']">Digite somente Letas de entre A e
                          Z.</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="description">Breve descrição sobre a instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['description'].invalid && (controlForm.controls['description'].dirty || controlForm.controls['description'].touched), 'is-valid': controlForm.controls['description'].valid}"
                        id="description" type="text" name="description" placeholder="Digite a descrição da atividade econômica"
                        [(ngModel)]="institution.description" [formControl]="controlForm.controls['description']" rows="4"></textarea>
                      <div
                        *ngIf="controlForm.controls['description'].invalid && (controlForm.controls['description'].dirty || controlForm.controls['description'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['description'].invalid}">
                        <span *ngIf="controlForm.controls['description'].errors?.['required']">Preencha esse
                          campo</span>
                        <span *ngIf="controlForm.controls['description'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['description'].errors?.['pattern']">Digite somente letras de
                          A a
                          Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="about">Sobre a Instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['about'].invalid && (controlForm.controls['about'].dirty || controlForm.controls['about'].touched), 'is-valid': controlForm.controls['about'].valid}"
                        id="about" type="text" name="about" placeholder="Digite o about" [(ngModel)]="institution.about"
                        [formControl]="controlForm.controls['about']" rows="6"></textarea>
                      <div
                        *ngIf="controlForm.controls['about'].invalid && (controlForm.controls['about'].dirty || controlForm.controls['about'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['about'].invalid}">
                        <span *ngIf="controlForm.controls['about'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['about'].errors?.['maxlength']">Digite no máximo 100 caracteres</span>
                        <span *ngIf="controlForm.controls['about'].errors?.['pattern']">Digite somente Letas de entre A e
                          Z.</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="mission">Missão da Instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['mission'].invalid && (controlForm.controls['mission'].dirty || controlForm.controls['mission'].touched), 'is-valid': controlForm.controls['mission'].valid}"
                        id="mission" type="text" name="mission" placeholder="Digite o mission" [(ngModel)]="institution.mission"
                        [formControl]="controlForm.controls['mission']" rows="6"></textarea>
                      <div
                        *ngIf="controlForm.controls['mission'].invalid && (controlForm.controls['mission'].dirty || controlForm.controls['mission'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['mission'].invalid}">
                        <span *ngIf="controlForm.controls['mission'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['mission'].errors?.['maxlength']">Digite no máximo 255 caracteres</span>
                        <span *ngIf="controlForm.controls['mission'].errors?.['pattern']">Digite somente Letas de entre A e
                          Z.</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="vision">Visão da Instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['vision'].invalid && (controlForm.controls['vision'].dirty || controlForm.controls['vision'].touched), 'is-valid': controlForm.controls['vision'].valid}"
                        id="vision" type="text" name="vision" placeholder="Digite o vision" [(ngModel)]="institution.vision"
                        [formControl]="controlForm.controls['vision']" rows="6"></textarea>
                      <div
                        *ngIf="controlForm.controls['vision'].invalid && (controlForm.controls['vision'].dirty || controlForm.controls['vision'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['vision'].invalid}">
                        <span *ngIf="controlForm.controls['vision'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['vision'].errors?.['maxlength']">Digite no máximo 255 caracteres</span>
                        <span *ngIf="controlForm.controls['vision'].errors?.['pattern']">Digite somente Letas de entre A e
                          Z.</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="value">Valores da Instituição</label>
                      <textarea class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['value'].invalid && (controlForm.controls['value'].dirty || controlForm.controls['value'].touched), 'is-valid': controlForm.controls['value'].valid}"
                        id="value" type="text" name="value" placeholder="Digite o value" [(ngModel)]="institution.value"
                        [formControl]="controlForm.controls['value']" rows="6"></textarea>
                      <div
                        *ngIf="controlForm.controls['value'].invalid && (controlForm.controls['value'].dirty || controlForm.controls['value'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['value'].invalid}">
                        <span *ngIf="controlForm.controls['value'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['value'].errors?.['maxlength']">Digite no máximo 255 caracteres</span>
                        <span *ngIf="controlForm.controls['value'].errors?.['pattern']">Digite somente Letas de entre A e
                          Z.</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="opening_date">Data de Abertura</label>
                      <input class="form-control" id="opening_date" type="date" name="opening_date"
                        placeholder="Digite a data de abertura" [(ngModel)]="institution.opening_date">
                    </div>
                    <hr>
                    <p class="text-success">Informações de Endereço</p>
                    <hr>
                    <div class="form-group mb-3">
                      <!-- TODO: CEP analisar se utilizar essa API https://viacep.com.br/ws/01001000/json/ -->
                      <label for="postalCode">CEP</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['postalCode'].invalid && (controlForm.controls['postalCode'].dirty || controlForm.controls['postalCode'].touched), 'is-valid': controlForm.controls['postalCode'].valid}"
                        id="postalCode" type="text" name="postalCode" placeholder="Digite o cep"
                        [(ngModel)]="institution.address.postalCode" [formControl]="controlForm.controls['postalCode']">
                      <div
                        *ngIf="controlForm.controls['postalCode'].invalid && (controlForm.controls['postalCode'].dirty || controlForm.controls['postalCode'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['postalCode'].invalid}">
                        <span *ngIf="controlForm.controls['postalCode'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['postalCode'].errors?.['maxlength']">Digite no máximo 8
                          caracteres</span>
                        <span *ngIf="controlForm.controls['postalCode'].errors?.['pattern']">Digite somente números</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="country">País</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['country'].invalid && (controlForm.controls['country'].dirty || controlForm.controls['country'].touched), 'is-valid': controlForm.controls['country'].valid}"
                        id="country" type="text" name="country" placeholder="Digite o páis"
                        [(ngModel)]="institution.address.country" [formControl]="controlForm.controls['country']">
                      <div
                        *ngIf="controlForm.controls['country'].invalid && (controlForm.controls['country'].dirty || controlForm.controls['country'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['country'].invalid}">
                        <span *ngIf="controlForm.controls['country'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['country'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['country'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="state">Estado</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['state'].invalid && (controlForm.controls['state'].dirty || controlForm.controls['state'].touched), 'is-valid': controlForm.controls['state'].valid}"
                        id="state" type="text" name="state" placeholder="Digite o estado" [(ngModel)]="institution.address.state"
                        [formControl]="controlForm.controls['state']">
                      <div
                        *ngIf="controlForm.controls['state'].invalid && (controlForm.controls['state'].dirty || controlForm.controls['state'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['state'].invalid}">
                        <span *ngIf="controlForm.controls['state'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['state'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['state'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="city">Cidade</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['city'].invalid && (controlForm.controls['city'].dirty || controlForm.controls['city'].touched), 'is-valid': controlForm.controls['city'].valid}"
                        id="city" type="text" name="city" placeholder="Digite a cidade" [(ngModel)]="institution.address.city"
                        [formControl]="controlForm.controls['city']">
                      <div
                        *ngIf="controlForm.controls['city'].invalid && (controlForm.controls['city'].dirty || controlForm.controls['city'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['city'].invalid}">
                        <span *ngIf="controlForm.controls['city'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['city'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['city'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="district">Bairro</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['district'].invalid && (controlForm.controls['district'].dirty || controlForm.controls['district'].touched), 'is-valid': controlForm.controls['district'].valid}"
                        id="district" type="text" name="district" placeholder="Digite o bairro"
                        [(ngModel)]="institution.address.district" [formControl]="controlForm.controls['district']">
                      <div
                        *ngIf="controlForm.controls['district'].invalid && (controlForm.controls['district'].dirty || controlForm.controls['district'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['district'].invalid}">
                        <span *ngIf="controlForm.controls['district'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['district'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['district'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="location">Logradouro (Rua, Avenida, Travessa)</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['location'].invalid && (controlForm.controls['location'].dirty || controlForm.controls['location'].touched), 'is-valid': controlForm.controls['location'].valid}"
                        id="location" type="text" name="location" placeholder="Digite a localidade"
                        [(ngModel)]="institution.address.location" [formControl]="controlForm.controls['location']">
                      <div
                        *ngIf="controlForm.controls['location'].invalid && (controlForm.controls['location'].dirty || controlForm.controls['location'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['location'].invalid}">
                        <span *ngIf="controlForm.controls['location'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['location'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['location'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="number">Número</label>
                      <input class="form-control"
                        [ngClass]="{'is-invalid': controlForm.controls['number'].invalid && (controlForm.controls['number'].dirty || controlForm.controls['number'].touched), 'is-valid': controlForm.controls['number'].valid}"
                        id="number" type="text" name="number" placeholder="Digite o número"
                        [(ngModel)]="institution.address.number" [formControl]="controlForm.controls['number']">
                      <div
                        *ngIf="controlForm.controls['number'].invalid && (controlForm.controls['number'].dirty || controlForm.controls['number'].touched)"
                        [ngClass]="{'invalid-feedback': controlForm.controls['number'].invalid}">
                        <span *ngIf="controlForm.controls['number'].errors?.['required']">Preencha esse campo</span>
                        <span *ngIf="controlForm.controls['number'].errors?.['maxlength']">Digite no máximo 100
                          caracteres</span>
                        <span *ngIf="controlForm.controls['number'].errors?.['pattern']">Digite somente letras de A a Z</span>
                      </div>
                    </div>
                    <div class="continue-button mt-2">
                      <button class="btn btn-success" type="submit">Atualizar</button>
                    </div>
                    <!-- TODO: colocar um link linkando a cadastro de doador para caso o usuario tenha clicado errado ou não seja de seu interesse -->
                  </form>
            </div>
        </div>
    </div>
</div>