<div class="container my-4">
  <div class="row gx-5 my-4 justify-content-center">
    <div class="col-md-12">
      <div class="text-center">
        <h2 class="fw-bolder text-success">Realizar Cadastro</h2>
        <p class="lead fw-normal text-muted">Selecione o tipo de cadastro que deseja realizar</p>
      </div>
    </div>
  </div>
    <div class="row gx-5 my-4 justify-content-center">
        <div class="col-md-12">
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4" href="/doadores/cadastrar">Quero Ser Doador</a>
            <a class="btn btn-secondary btn-lg px-4 me-sm-3" href="/instituicoes/cadastrar">Quero Receber Doações</a>
          </div>
        </div>
    </div>
</div>
