@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.navbar {
    height: 77px;
    
}

.longBar {
    height: 100%;
}

.me-6{
    margin-right: 4rem !important; 
}
